// Place all the styles related to the memo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ta{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .sif{
    margin: 35px;
    margin-right: 35px;
    margin-left: 35px;
    float: left;
    margin: 0 0 1em 1em;
  }

  .meme{
    margin: 35px;
    font-size: 20px;
    overflow: auto;
    zoom: 1;
  }

  h5{
    margin: 15px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    border-bottom: double 3px #353535;
    padding-bottom: 10px;
}
  .h8{
    font-size: 40px;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bunn{
    margin-right: 8%;
    margin-left: 8%;
    text-align:center;
  }

  .nav {
    float: left;
    width: 25%;
  }




  .book-image{
    width: 440px;
    height: 290px;
}